img {
  float: right;
  margin: 10px;
}

img.pull-left {
  float: left;
}

img.center {
  float: left;
  margin-left: 33%;
}

div.block {
  width: 200px;
  height: 200px;
}
div.float { float: left; }
div.clear { clear: left; }
div.pink { background: #ee3e64; }
div.blue { background: #44accf; }
div.green { background: #b7d84b; }
div.orange { background: #E2A741; }

div.container-small {
  width: 280px;
  margin: 0 auto;
}

div.container {
  width: 960px;
  margin: 0 auto;
}

div.content {
  float: right;
  width: 660px;
  background: #fff;
}

div.navigation {
  float: left;
  width: 300px;
  background: #eee;
}

div.navigation a {
  display: block;
}

div.footer {
  clear: both;
  background: #aaa;
}
